{% extends 'base' %}

{% block content %}
{% assign product = store.products | where: "id", product_id | first %}

  <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image" />
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <p><strong>Price:</strong> ${{ product.price }}</p>
{% endblock %}
