{% extends 'base' %}

{% block content %}
{% assign products = store.products | where: "category", category_id %}

  <h2>Welcome to {{ store.title }}!</h2>
  <h3>Featured Products</h3>
  <div class="product-grid">
    {% for product in products %}
      <div class="product-card">
        <img src="{{ product.image_url }}" alt="{{ product.name }}" class="product-image" />
        <h4><a href="/products/{{ product.id }}">{{ product.name }}</a></h4>
        <p>{{ product.formatted_price }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
